<h1>Events</h1>
<%= link_to "New Event", new_event_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Hashtag</th>
    <th>Start At</th>
    <th>End At</th>
  </tr>
  <%= @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.hashtag %></td>
      <td><%= event.start_at %></td>
      <td><%= event.end_at %></td>
    </tr>
  <% end %>
</table>
