<div class="page-header">
  <h1>Events</h1>

</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Hashtag</th>
        <th>Photos</th>
        <th>Start At</th>
        <th>End At</th>
      </tr>
    </thead>
    <% @events.each do |event| %>
      <tbody>
        <tr>
          <td><%= event.title %></td>
          <td>#<%= event.hashtag %></td>
          <td><%= event.photos_count %></td>
          <td><%= event.start_at %></td>
          <td><%= event.end_at %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <%= link_to "New Event",
      new_event_path,
      class: "btn btn-block btn-lg btn-primary pull-right"
    %>
  </div>
</div>
